.orange {
  width: 6px;
  padding-right: 10px;
}

.form {
  color: #f79420;
  text-decoration: underline;
}

.column {
  line-height: 1;
  min-width: 250px;
  text-align: left;
}

.end-line {
  margin-bottom: 40px;
}

.bold,
.column2 {
  font-weight: bold;
}

#subscribe {
  background-color: #f79420;
  border: 1px solid #707070;
  color: white;
  padding: 10px;
  width: 90px;
  text-align: center;
}

#subscribe:hover {
  color: #f79420;
  background-color: white;
  border: 1px solid #707070;
}

footer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.last {
  background-color: white;
  width: 95%;
}

.column1,
.column2,
.column3 {
  flex: 1;
}

/* Media queries */
/* Tablet and small desktop */
@media only screen and (min-width: 500px) and (max-width: 1300px) {
  footer {
    margin-top: 50px;
  }
}

/* Desktop */
@media only screen and (min-width: 1301px) {
  .column {
    padding-left: 20px;
  }
}
