h1,
h2,
h3 {
  font-family: "Merriweather", verdana, sans-serif;
}

body {
  font-family: "Open Sans", verdana, sans-serif;
}

#logo {
  width: 150px;
}

#search {
  position: fixed;
  top: 38px;
  right: 80px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: uppercase;
  background-color: white;
}

.navigation {
  text-decoration: none;
  color: #707070;
  display: inline-block;
  width: 200px;
  padding: 30px;
  text-align: center;
}

.navigation:hover {
  background-color: #ee2b2f;
  color: white;
}

.nav5 {
  margin-bottom: 30px;
}

.mobile {
  margin: 0;
}

.mobile:hover {
  background-color: #f79420;
  color: white;
}

.social-icons {
  text-align: center;
}

.social {
  width: 30px;
  margin: 10px;
}

nav {
  border: 1px solid black;
  display: none;
  position: fixed;
  right: 0px;
  margin-top: 10px;
}

#hamburger-menu {
  display: none;
}

.fas {
  position: fixed;
  top: 40px;
  right: 40px;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

/* Media queries */

/* Tablet */
@media only screen and (min-width: 550px) and (max-width: 999px) {
}

/* Desktop */
@media only screen and (min-width: 1000px) {
  #hamburger-menu,
  .fas {
    display: none;
  }

  nav {
    display: block;
  }

  .social-icons {
    display: none;
  }
}
