html {
  font-size: 16px;
  font-family: "Open Sans", verdana, sans-serif;
}

h1,
h2,
h3 {
  font-family: "Merriweather", verdana, sans-serif;
  font-size: 20px;
}

#logo {
  position: relative;
  z-index: 200;
  width: 150px;
  margin-bottom: 22px;
  padding-top: 10px;
  padding-left: 10px;
}

#person {
  display: inline-block;
  position: fixed;
  right: 120px;
  top: 34px;
}

#search {
  position: fixed;
  top: 36px;
  right: 70px;
  padding: 5px;
}

#search-button {
  width: 60px;
  margin-left: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: uppercase;
  background-color: white;
}

.navigation {
  text-decoration: none;
  color: #707070;
  display: inline-block;
  width: 200px;
  padding: 15px;
  text-align: center;
}

.active,
.navigation:hover {
  background-color: #ee2b2f;
  color: white;
}

.nav5 {
  margin-bottom: 30px;
}

.sheet {
  padding-top: 10px;
}

.sheet1 {
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100%;
}

hr {
  position: fixed;
  width: 100%;
  top: 90px;
}

.parts {
  position: absolute;
  top: 98px;
}

body {
  margin: 0;
}

.mobile {
  margin: 0;
}

.mobile:hover {
  background-color: #f79420;
  color: white;
}

.social-icons {
  text-align: center;
  background-color: white;
}

.social {
  width: 30px;
  margin: 10px;
}

nav {
  border: 1px solid black;
  display: none;
  position: fixed;
  right: 0px;
  margin-top: 0px;
}

#hamburger-menu {
  display: none;
}

.fas {
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 100;
  cursor: pointer;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

/* dropdown, log in and search */

.login-search {
  position: absolute;
  top: 33px;
  right: 20px;
  width: 90px;
  height: 34px;
  display: none;
}

.dropdown {
  position: absolute;
  right: 100px;
  width: 40px;
  height: 34px;
  z-index: 25;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: center;
  top: 25px;
  right: -120px;
  z-index: 30;
  width: 200px;
  height: 200px;
}

.content2 {
  width: 200px;
}

.polygon {
  width: 40px;
  margin-bottom: -6px;
  margin-right: 110px;
}

.polygon2 {
  text-align: right;
  margin-left: 160px;
}

.a3,
.a2 {
  background-color: #f79420;
  padding: 10px 0;
  display: block;
  margin: 0;
}

.a3 {
  width: 100%;
}

.a2 {
  color: white;
  width: 200px;
  text-decoration: none;
  margin: 0;
}

input[type="text"] {
  width: 85%;
  padding: 7px 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .drop-button {
  color: #f79420;
}

/* Media queries */

/* Desktop */
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  h1,
  h2,
  h3 {
    font-size: 25px;
  }

  .login-search {
    display: block;
  }

  #hamburger-menu,
  .fas {
    display: none;
  }

  .sheet1 {
    background: white;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .sheet {
    background: white;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 0;
    margin: 0 auto;
  }

  .dropdown {
    right: 60px;
  }

  .dropdown-content {
    right: -60px;
    width: 900px;
  }

  .content2 {
    width: 200px;
  }

  .polygon {
    margin-left: 80px;
  }

  .polygon2 {
    margin-left: 830px;
  }

  #logo {
    margin-bottom: 20px;
    padding-top: 29px;
    padding-left: 10px;
  }

  hr {
    position: fixed;
    top: 118px;
  }

  .parts {
    position: absolute;
    top: 126px;
  }

  nav {
    display: block;
    top: 0;
    right: 110px;
    left: 120px;
    border: none;
  }

  .social-icons {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 700px;
  }

  .navigation {
    margin: 0;
    padding: 25px 20px 15px 20px;
    width: 100px;
  }

  .mobile {
    display: none;
  }

  .navigation {
    width: 90px;
  }

  #search {
    right: 30px;
  }

  #person {
    display: inline-block;
    position: fixed;
    width: 34px;
    right: 80px;
    top: 34px;
  }

  .top-menu {
    border-bottom: 1px solid black;
  }
}

/* Desktop */
@media only screen and (min-width: 1301px) {
  html {
    font-size: 16px;
  }

  .login-search {
    display: block;
  }

  h1,
  h2,
  h3 {
    font-size: 25px;
  }

  #hamburger-menu,
  .fas {
    display: none;
  }

  #logo {
    width: 220px;
    margin-bottom: 22px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .sheet1 {
    left: 2.4%;
    background: white;
    width: 95%;
    margin: 0 auto;
    border-bottom: none;
  }

  .sheet {
    background: white;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 0;
  }

  .dropdown {
    right: 50px;
  }

  .dropdown-content {
    right: -4.5vw;
    width: 1100px;
  }

  .content2 {
    width: 200px;
  }

  .polygon {
    margin-left: 80px;
  }

  .polygon2 {
    margin-left: 1020px;
  }

  hr {
    position: fixed;
    top: 118px;
    width: 95%;
  }

  .parts {
    position: absolute;
    top: 112px;
  }

  nav {
    display: block;
    top: 0;
    right: 120px;
    left: 120px;
    border: none;
  }

  .social-icons {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    width: 75%;
    background-color: none;
  }

  .navigation {
    margin: 0;
    padding: 22px;
    width: 100px;
  }

  .mobile {
    display: none;
  }

  #search {
    right: 60px;
  }

  #person {
    display: inline-block;
    position: fixed;
    width: 34px;
    right: 110px;
    top: 34px;
  }
}
