.ball {
  transition-property: background;
  transition-duration: 2s;
  position: relative;
  height: 50px;
  width: 50px;
  background: red;
  border-radius: 50%;
}

.ball:hover {
  background: blue;
}
