@import "imports/header-footer.css";

@import "imports/footer.css";

.exhibition {
  width: 95%;
}

.sheet {
  text-align: center;
}

.link {
  position: relative;
}

.category {
  position: absolute;
  background-color: #f79420;
  color: white;
  width: 200px;
  bottom: 20px;
  text-align: center;
}

.cosmology {
  background-color: #ee2b2f;
}

.biology {
  background-color: #006937;
}

.robotics {
  background-color: #2b2a7a;
}

.ecology {
  background-color: #faed23;
  color: #006937;
}

.marine {
  background-color: white;
  color: #2b2a7a;
}

/* Media Queries */
/* Desktop */
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  body {
    background-image: url("../images/star2.jpg");
    background-attachment: fixed;
    margin: 0;
  }

  .sheet {
    background: white;
    margin: 0 auto;
    display: flex;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 0;
  }

  .sheet1 {
    background: white;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .exhibition {
    width: 90%;
    margin: 20px 0;
  }
}

@media only screen and (min-width: 1301px) {
  body {
    background-image: url("../images/star.jpg");
    background-attachment: fixed;
  }

  .sheet {
    background: white;
    width: 95%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 0;
  }

  .sheet1 {
    background: white;
    width: 95%;
    margin: 0 auto;

    border-bottom: none;
  }

  .category {
    bottom: 40px;
    left: 20px;
    width: 300px;
    padding: 10px;
    border: 1px solid black;
  }

  .exhibition {
    width: 90%;
    margin: 20px 0;
  }
}
