@import "imports/header.css";

@import "imports/footer.css";

@import "imports/newsletter.css";

.exhibition {
  width: 100%;
}

.sheet {
  text-align: center;
  margin-bottom: 0;
}

.link {
  position: relative;
}
.paragraph {
  width: 90%;
  margin: 10px auto;
  text-align: left;
}

.category {
  position: absolute;
  background-color: #f79420;
  color: white;
  width: 200px;
  bottom: 30px;
  text-align: center;
  padding: 5px;
}

.cosmology {
  background-color: #ee2b2f;
}

.biology {
  background-color: #006937;
}

.robotics {
  background-color: #2b2a7a;
}

.ecology {
  background-color: #faed23;
  color: #006937;
}

.marine {
  background-color: rgb(220, 220, 220);
  color: #2b2a7a;
}

/* Media Queries */

@media only screen and (min-width: 550px) and (max-width: 999px) {
  .flexing {
    display: flex;
  }

  .exhibition {
    width: 95%;
    padding-bottom: 20px;
  }

  .category {
    left: -5px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .sheet {
    background: white;
    margin-bottom: 0px;
    text-align: center;
    padding-bottom: 0;
  }

  .paragraph {
    display: inline-block;
    width: 450px;
  }

  .flexing {
    display: flex;
  }

  .category {
    bottom: 40px;
    left: -10px;
    padding: 10px;
  }

  .exhibition {
    width: 90%;
    margin: 20px 0;
  }
}

@media only screen and (min-width: 1301px) {
  body {
    background-color: rgb(57, 57, 57);
  }

  .extra-text {
    margin: 0 auto;
    text-align: center;
  }

  .paragraph {
    display: inline-block;
    width: 550px;
  }

  .paragraph2 {
    margin-left: 11px;
  }

  .flexing {
    display: flex;
  }

  .sheet1 {
    background: white;
    width: 95%;
    margin: 0 auto;
    border-bottom: none;
  }

  .category {
    bottom: 40px;
    left: -10px;
    width: 300px;
    padding: 10px;
  }

  .exhibition {
    width: 90%;
    margin: 20px 0;
  }
}
