@import "imports/header.css";

@import "imports/footer.css";

.exploration {
  width: 100%;
}

.blur {
  display: none;
}

.big {
  text-transform: uppercase;
}

.text {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

h1,
h2 {
  text-align: center;
}

/* Media Queries */
/* Desktop */
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .sheet {
    background: white;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 0;
  }

  .sheet1 {
    background: white;
    margin: 0 auto;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }

  .exhibition {
    width: 90%;
    margin: 20px 0;
  }
}

@media only screen and (min-width: 1301px) {
  body {
    background-image: url("../images/light.jpg");
    background-attachment: fixed;
  }

  .sheet {
    background: white;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 0;
    position: relative;
  }

  .sheet1 {
    background: white;
    width: 95%;
    margin: 0 auto;
    border: 1px solid black;
    border-bottom: none;
  }

  .exploration {
    display: none;
  }

  .blur {
    display: block;
    width: 95%;
    margin: 20px auto;
  }

  .text {
    position: absolute;
    top: 2%;
    right: 70px;
    width: 55%;
    color: white;
  }

  .text2 {
    color: black;
    top: 90px;
    width: 35%;
  }

  .text3 {
    top: 10px;
    left: 370px;
    width: 22%;
  }
}
