@import "imports/header.css";

@import "imports/footer.css";

@import "imports/newsletter.css";

.exploration {
  width: 100%;
}

.blur {
  display: none;
  padding-bottom: 25px;
}

.big {
  text-transform: uppercase;
}

.text {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

h1,
h2 {
  text-align: center;
}

/* Media Queries */

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .exhibition {
    width: 90%;
    margin: 20px 0;
  }
}

@media only screen and (min-width: 1301px) {
  body {
    background-color: rgb(57, 57, 57);
  }

  .sheet {
    position: relative;
  }

  .exploration {
    display: none;
  }

  .blur {
    display: block;
    width: 95%;
    margin: 20px auto;
  }

  .text {
    position: absolute;
    top: 3%;
    right: 70px;
    width: 55%;
    color: white;
  }

  .text2 {
    color: black;
    top: 90px;
    width: 35%;
  }

  .text3 {
    top: 10px;
    left: 370px;
    width: 22%;
  }
}
