@import "imports/header.css";

@import "imports/footer.css";

span a {
  color: #f79420;
  display: inline;
  text-decoration: underline;
}

#pic1 {
  width: 100%;
  display: block;
  margin: 0 auto;
}

#pic2 {
  display: none;
}

.explore-together {
  position: relative;
}

.text {
  position: absolute;
  bottom: 13%;
  left: 7%;
  color: white;
  max-width: 600px;
}

#clicking {
  display: none;
}

.exhibition {
  position: relative;
}

.text2-3 {
  width: 90%;
  margin: 0 auto;
}

.pics {
  width: 40%;
  margin: 9px;
}

.category {
  position: absolute;
  background-color: #f79420;
  border: 1px solid #707070;
  color: white;
  width: 140px;
  left: 0px;
  bottom: 20px;
  text-align: center;
  border: 1px solid black;
}

.category2 {
  width: 90px;
}

.explore-and-exhibit {
  width: 95%;
  text-align: center;
  margin: 0 auto;
}

.flexing {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.pic3 {
  margin-right: 10%;
}

.pics2 {
  width: 23%;
  margin: 10px;
  border: 1px solid grey;
}

.pic5,
.pic6 {
  margin-right: 4%;
}

/* dropdown, log in and search */

.extra-text {
  background-color: black;
  width: 330px;
  padding: 5px 10px 5px 10px;
  text-align: left;
}

.dropdown-content2 {
  position: relative;
  left: -28px;
  top: 0;
}

/* Media Queries */

/* Tablets */
@media only screen and (min-width: 500px) and (max-width: 999px) {
  #pic1 {
    display: none;
  }

  #pic2 {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .text {
    left: 4%;
    top: 5%;
    color: white;
    max-width: 200px;
    width: 55%;
    text-align: left;
  }

  #clicking {
    display: none;
  }

  .category {
    width: 170px;
    padding: 5px;
  }

  .category2 {
    width: 130px;
  }

  .extra-text {
    width: 425px;
    padding: 5px 20px 5px 20px;
  }

  .dropdown-content2 {
    position: relative;
    left: -20px;
  }
}

/* Desktop */
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .sheet {
    background: white;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 0;
  }

  .sheet1 {
    background: white;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  #pic1 {
    display: none;
  }

  #pic2 {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .text {
    left: 100px;
    top: 120px;
    color: white;
    max-width: 300px;
    width: 55%;
    text-align: left;
  }

  #clicking {
    display: none;
  }

  .category {
    width: 200px;
    padding: 5px;
  }

  .category2 {
    width: 180px;
  }

  .flexing {
    margin-top: 50px;
  }

  .pic3 {
    margin-right: 79px;
  }

  .extra-text {
    width: 425px;
    padding: 5px 60px 5px 60px;
  }

  .dropdown-content2 {
    left: -62px;
  }
}

@media only screen and (min-width: 1301px) {
  body {
    background-image: url("../images/home-back.jpg");
    background-attachment: fixed;
  }

  #pic1 {
    display: none;
  }

  #pic2 {
    display: block;
    width: 1235px;
    margin: 0 auto;
  }

  .explore-together {
    margin: 0 auto;
    width: 1230px;
  }

  .text {
    left: 5%;
    top: 170px;
    color: white;
    max-width: 450px;
    width: 55%;
    text-align: left;
  }

  #clicking {
    display: inline-block;
    position: relative;
    margin-top: 60px;
    color: #f79420;
  }

  #arrow {
    width: 130px;
    position: absolute;
    top: 10px;
    right: -50px;
  }

  .flexing {
    flex-direction: row;
    width: 90%;
    margin: 30px auto 30px;
  }

  .explore-and-exhibit {
    text-align: right;
  }

  .pic3,
  .pic5,
  .pic6 {
    margin-right: 50px;
  }

  .pic4,
  .pic7 {
    margin-right: 0;
  }

  .category {
    bottom: 15px;
    left: 0px;
    width: 220px;
    padding: 5px;
  }

  .category2 {
    width: 150px;
    bottom: 18px;
  }

  .last {
    margin-bottom: 0;
  }

  .extra-text {
    width: 425px;
    padding: 5px 60px 5px 60px;
  }

  .dropdown-content2 {
    left: -62px;
  }
}
