@import "imports/header-footer.css";

@import "imports/footer.css";

.login-search {
  position: absolute;
  top: 33px;
  right: 20px;
  width: 90px;
  height: 34px;
  border: 1px solid black;
}

.dropdown {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 34px;
  border: 1px solid black;
  z-index: 25;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: center;
  top: 35px;
  right: -50px;
  z-index: 30;
}

#polygon {
  width: 40px;
  margin-bottom: -6px;
  margin-left: 15px;
}

.a2 {
  background-color: #f79420;
  color: white;
  width: 200px;
  padding: 10px;
  text-decoration: none;
  display: block;
  margin: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .drop-button {
  color: #f79420;
}

.here {
  display: inline;
  text-decoration: underline;
  color: #f79420;
}

#pic1 {
  width: 90%;
  display: block;
  margin: 0 auto;
}

#pic2 {
  display: none;
}

.explore-together {
  position: relative;
}

.text {
  position: absolute;
  bottom: 1%;
  left: 10%;
  color: white;
  max-width: 600px;
}

.exhibition {
  position: relative;
}

.text2-3 {
  width: 80%;
  margin: 0 auto;
}

.pics {
  width: 40%;
  margin: 10px;
}

.category {
  position: absolute;
  background-color: #f79420;
  border: 1px solid #707070;
  color: white;
  width: 70%;
  bottom: 20px;
  text-align: center;
}

.explore-and-exhibit {
  text-align: center;
}

.flexing {
  display: flex;
  flex-direction: column;
}

.pics2 {
  width: 24%;
  margin: 10px;
  border: 1px solid grey;
}

/* Media Queries */
/* Desktop */
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .sheet {
    background: white;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 0;
  }

  .sheet1 {
    background: white;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  #pic1 {
    display: none;
  }

  #pic2 {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .flexing {
    margin-top: 50px;
  }

  .pic3 {
    margin-right: 79px;
  }
}

@media only screen and (min-width: 1301px) {
  body {
    background-image: url("../images/home-back.jpg");
    background-attachment: fixed;
  }

  .sheet {
    background: white;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 0;
  }

  .sheet1 {
    background: white;
    width: 95%;
    margin: 0 auto;
    border: 1px solid black;
    border-bottom: none;
  }

  #pic1 {
    display: none;
  }

  #pic2 {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .text {
    left: 120px;
    top: 170px;
    color: white;
    max-width: 450px;
    width: 55%;
    text-align: left;
  }

  .flexing {
    flex-direction: row;
    width: 90%;
    margin: 30px auto 30px;
    border: 1px solid red;
  }

  .explore-and-exhibit {
    text-align: center;
  }

  .category {
    bottom: 30px;
    left: 0px;
    width: 70%;
    padding: 5px;
    border: 1px solid black;
  }

  .last {
    margin-bottom: 0;
  }
}
