@import "imports/header.css";

@import "imports/footer.css";

@import "imports/exhibitions-categories.css";

.category-pic {
  background-image: url("../images/robotics.jpg");
  background-position: top;
}

@media only screen and (min-width: 1301px) {
  .text1 {
    height: 30%;
  }
}
