@import "imports/header-footer.css";

@import "imports/footer.css";

h1,
h2 {
  text-align: center;
}

.headlines {
  text-decoration: underline;
  width: 95%;
  margin: 10px auto;
  border: 1px solid black;
}

.news-pic {
  width: 150px;
  float: left;
  margin-right: 30px;
  padding-bottom: 10px;
  border: 1px solid black;
}

.energetica {
  padding-bottom: 60px;
}

.text {
  border: 1px solid black;
  margin-top: 0;
  text-align: left;
  margin: 0 auto;
  padding-top: 10px;
}

.line {
  margin-bottom: 40px;
}

.clearfix {
  border: 1px solid black;
  width: 95%;
  margin: 0 auto;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.published {
  color: grey;
  font-style: italic;
  text-align: right;
  margin-top: 45px;
}

.headlines-big {
  display: none;
}

/* Media Queries */
/* Tablets and small desktops*/
@media only screen and (min-width: 550px) and (max-width: 999px) {
  .text {
    width: 70%;
  }
}

/* Desktop */
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .sheet {
    background: white;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 0;
  }

  .sheet1 {
    background: white;
    margin: 0 auto;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }

  .clearfix {
    margin: 0 auto;
  }

  .news-pic {
    width: 250px;
  }

  .text {
    width: 70%;
  }

  .headlines {
    display: none;
  }

  .headlines-big {
    display: block;
    text-decoration: underline;
    margin-top: 40px;
    text-align: left;
  }
}

@media only screen and (min-width: 1301px) {
  body {
    background-image: url("../images/news.jpg");
    background-attachment: fixed;
  }

  .sheet {
    background: white;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 0;
  }

  .sheet1 {
    background: white;
    width: 95%;
    margin: 0 auto;
    border: 1px solid black;
    border-bottom: none;
  }

  .clearfix {
    margin: 0 auto;
  }

  .news-pic {
    width: 400px;
  }

  .headlines {
    display: none;
  }

  .headlines-big {
    display: block;
    text-decoration: underline;
    margin-top: 100px;
    text-align: left;
  }

  .text {
    width: 70%;
  }
}
