@import "imports/header.css";

@import "imports/footer.css";

h1,
h2 {
  text-align: center;
}

.headlines {
  text-decoration: underline;
  width: 95%;
  margin: 10px auto;
}

.news-pic {
  width: 150px;
  float: left;
  margin-right: 30px;
  padding-bottom: 10px;
}

.energetica {
  padding-bottom: 10px;
}

.text {
  margin-top: 0;
  text-align: left;
  margin: 0 auto;
  padding-top: 10px;
}

.line {
  margin-bottom: 40px;
}

.clearfix {
  width: 95%;
  margin: 0 auto;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.published {
  color: grey;
  font-style: italic;
  text-align: right;
  margin-top: 45px;
}

.headlines-big {
  display: none;
}

/* newsletter form */

form {
  background: white;
  border-radius: 1rem;
  position: relative;
  margin: auto;
}

input {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #f79420;
  border: none;
  width: 200px;
  padding: 1rem;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0.2rem;
  border: 1px solid #f79420;
  font-size: 0.8rem;
}

button:hover {
  background-color: white;
  color: #f79420;
  border: 1px solid #f79420;
}

label {
  display: block;
  text-align: left;
  margin-top: 1rem;
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

.success {
  color: darkgreen;
  padding-top: 10px;
  border-radius: 1rem;
  margin-bottom: 10px;
}

/* Media Queries */

@media only screen and (min-width: 550px) and (max-width: 999px) {
  .text {
    width: 70%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .clearfix {
    margin: 0 auto;
  }

  .news-pic {
    width: 250px;
  }

  .text {
    width: 70%;
  }

  .headlines {
    display: none;
  }

  .headlines-big {
    display: block;
    text-decoration: underline;
    margin-top: 40px;
    text-align: left;
  }
}

@media only screen and (min-width: 1301px) {
  body {
    background-color: rgb(57, 57, 57);
  }

  .clearfix {
    margin: 0 auto;
  }

  .news-pic {
    width: 400px;
  }

  .headlines {
    display: none;
  }

  .headlines-big {
    display: block;
    text-decoration: underline;
    margin-top: 100px;
    text-align: left;
  }

  .text {
    width: 70%;
  }
}
